<div class="container">
  <% if session[:user_id] %>
  <h1>Welcome to Frack Jack <%=@user.username%></h1>

  <% if session[:game_id] && !@hand_over && !@wager_made %>
  <form action="/<%= @user.id %>/playfj/make_wager" method="post">
    <p>Total Bankroll: $<%= @game.score %></p>
    <p>No gamble no future!</p>
    <input type="text" name="bet" placeholder="GAMBLE!" required>
    <input type="submit" value="Bet!">
  </form>

  <% elsif session[:game_id] && @wager_made%>
  <h1>Dealer Hand</h1>
  <h2>Dealer shows: <%= dealer_hand[0].name %></h2>
  <% if !@hand_over %>
  <ul>
    <li><img src="/images/cards/cardback.png"></li>
    <li><img src="<%= dealer_hand[0].img_url %>"></li>
  </ul>
  <% else %>
  <img src="<%= dealer_hand[0].img_url %>">
  <% dealer_hand[1..-1].each do |card| %>
  <ul>
    <li><img src="<%= card.img_url %>"></li>
  </ul>
  <% end %>
  <% end %>

  <h1><%=@user.username%>'s Hand</h1>
  <h2>Your value: <%= player_hand_value %></h2>
  <% player_hand.each do |card| %>
  <ul>
    <li><img src="<%= card.img_url %>"></li>
  </ul>
  <% end %>



  <% if !@hand_over && @wager_made %>
  <form action="/<%= @user.id %>/playfj/hit" method="post">
    <input type="submit" value="Hit!">
  </form>

  <form action="/<%= @user.id %>/playfj/stay" method="post">
    <input type="submit" value="Stay!">
  </form>

  <% elsif @hand_over && !game_over?%>
  <h2>You: <%= player_hand_value %></h2>
  <h2>Dealer: <%= dealer_hand_value %></h2>
  <% if @winner %>
  <% settle_bets %>
  <h2>The winner is! <%= @winner %></h2>
  <% end %>
  <form action="/<%= @user.id %>/playfj" method="post">
    <input type="submit" value="Next Hand!">
  </form>

  <% elsif @hand_over && game_over?%>
  <h1><%= @winner %></h1>
  <h2>You: <%= player_hand_value %></h2>
  <h2>Dealer: <%= dealer_hand_value %></h2>
  <form action="/<%= @user.id %>/playfj/reset" method="get">
    <input type="submit" value="Restart!">
  </form>

  <form action="/<%= @user.id %>/highrollers" method="get">
    <input type="submit" value="Highrollers!">
  </form>

  <% end %>


  <h2>Card Count: <%= card_count %></h2>
  <h2>Bank Roll: $<%= @game.score %></h2>
  <h2>Actions Left: <%= @game.action_counter %></h2>


  <% else %>

  <form action="/<%= @user.id %>/playfj" method="post">
    <input type="submit" value="Deal!">
  </form>
  <% end %>

  <% end %>
</div>
