<div class="container">
  <% if session[:user_id] %>

  <% if session[:game_id] && !@hand_over && !@wager_made %>
  <header id="wager">Place your wager!</header>

  <section class="wager-form">

    <h2 id="wager-br">Total Bankroll: $<%= @game.score %></h2>

    <form action="/<%= @user.id %>/playfj/make_wager" method="post">
      <!-- <input type="range" name="bet" min='1' max='<%= @game.score %>'> -->
      <input id="wager-field" type="number" name="bet" placeholder="GAMBLE!" min='1' max='<%= @game.score %>'required>
      <section class="button-holder">
        <input type="submit" value="Bet!">
      </section>
    </form>
  </section>

  <% elsif session[:game_id] && @wager_made%>

  <section class="game-info">
    <header id="info-header">Information</header>
    <h2>Dealer shows: <%= dealer_hand[0].name %></h2>
    <h2>Card Count: <span id='card-count'><%= card_count %></span></h2>
    <h2>Bank Roll: $<%= @game.score %></h2>
    <h2>Actions Left: <span id='action-count'><%= @game.action_counter %></span></h2>
    <% if @hand_over %>
    <h2>Dealer: <%= dealer_hand_value %></h2>
    <% end %>
    <h2><%=@user.username%>'s value:<span id='p-hand-value'> <%= player_hand_value %></span></h2>
    <% if @winner %>
    <% settle_bets %>
    <h2 id='winner-display'><%= @winner %>!</h2>
    <% end %>
  </section>


</section>


<% if !@hand_over %>

<section class="dealer-card-holder">
  <ul>
    <h1>Dealer Hand</h1>
    <li class="cards"><img src="/images/cards/cardback.png"></li>
    <li class="cards"><img src="<%= dealer_hand[0].img_url %>"></li>
  </ul>
</section>
<% else %>
<section class="dealer-card-holder">
  <ul>
    <h1>Dealer Hand</h1>
    <li class="cards"><img src="<%= dealer_hand[0].img_url %>"></li>
    <% dealer_hand[1..-1].each do |card| %>
    <li class="cards"><img src="<%= card.img_url %>"></li>
    <% end %>
  </ul>
  <% end %>
</section>

<section class="player-card-holder">
  <h1>Player Hand</h1>
  <ul id="player-card-container">
    <% player_hand.each do |card| %>
    <li class="cards"><img src="<%= card.img_url %>"></li>
    <% end %>
  </ul>
</section>



<% if !@hand_over && @wager_made %>
<section class="button-holder">
  <form id="stay-btn" action="/<%= @user.id %>/playfj/stay" method="post">
    <input type="submit" value="Stay!">
  </form>
  <form id="hit-btn" action="/<%= @user.id %>/playfj/hit" method="post">
    <input type="submit" value="Hit!">
  </form>
</section>

<% elsif @hand_over && !game_over?%>
<section class="button-holder" id="next-hand">
  <form action="/<%= @user.id %>/playfj" method="post">
    <input type="submit" value="Next Hand!">
  </form>
</section>

<% elsif @hand_over && game_over?%>
<section class="button-holder">
  <form action="/<%= @user.id %>/playfj/reset" method="get">
    <input type="submit" value="Restart!">
  </form>

  <form action="/<%= @user.id %>/highrollers" method="get">
    <input type="submit" value="Highrollers!">
  </form>
</section>

<% end %>

<% end %>

<% end %>
</div>
